# This is Git's per-user configuration file.
[user]
	name = Austin Reifsteck
	{{- if eq .chezmoi.hostname .work_hostname }}
	email = {{.work_email}}
	{{- else if eq .chezmoi.hostname .personal_hostname }}
	email = {{.personal_email}}
	{{- end}}
[alias]
	st = status
	c = commit -m
	sw = switch
[push]
	autoSetupRemote = true
